html{
    font-size: 22px; 
}


body{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Helvetica, Arial;

    background-image: linear-gradient( 67.2deg,  rgba(37,208,199,1) -7.5%, rgba(165,90,240,1) 62.7% );
}


.card-container{
    width: 300px;
    height: 400px;
    position: relative;
    perspective: 1000px;
    
}

.cover, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.25s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;    /* meaning root-em. because html's font-size is setting 22px, so 2rem equation is equal to 44px */
    border-radius: .4rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.18);
    text-shadow: 0 0.15rem  0.2rem rgba(0, 0, 0, 0.2);
}

.cover{
    background-image: linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
    color: rgb(0, 0, 0);
    transform: rotatey(0deg);

}

.card-container:hover .cover{
    transform: rotatey(180deg);
}

.back{
    background-image: linear-gradient( 109.6deg,  rgba(255,174,0,1) 11.2%, rgba(255,0,0,1) 100.2% );
    color: rgb(255, 255, 255);
    transform: rotatey(-180deg);
}

.card-container:hover .back{
    transform: rotatey(0deg);
}






