.card-container{
    width: 300px;
    height: 300px;
    position: relative;
    
}

.cover, .back{
    width: 100%;
    height: 100%;
    position: absolute;
}

.cover{
    background-color: blue;
}

.back{
    background-color: yellow;
}